
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2C2638;
  }
  
  .login-form {
    background-color: #3C364C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: white;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    background-color: #f9f9f9;
  }
  
  .login-form button {
    width: 110%;
    padding: 0.75rem;
    background-color: #6D54B5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  span{
    color:white;
    margin-top: 10px;
  }
  