.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .new-task {
    margin-bottom: 20px;
  }
  
  .new-task input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .new-task button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-task button:hover {
    background-color: #0056b3;
  }
  
  .task-list {
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-item button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  button:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
  }
.update_btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(5, 88, 5);
    color: white;

}  
.delte_btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(239, 78, 78);
    color: white;

}  
.opration_btn{
    display: flex;
    align-items: center;
    gap: 5px;
}